<ul id="sbOptions_52457708" class="select--category--option" style="display: none;">
    <li><a href="#-1" rel="-1">전체</a></li>
    <li><a href="#186764" rel="186764">여성패션</a></li>
    <li><a href="#187069" rel="187069">남성패션</a></li>
    <li><a href="#502993" rel="502993">남녀 공용 의류</a></li>
    <li><a href="#213201" rel="213201">유아동패션</a></li>
    <li><a href="#176522" rel="176522">뷰티</a></li>
    <li><a href="#221934" rel="221934">출산/유아동</a></li>
    <li><a href="#194276" rel="194276">식품</a></li>
    <li><a href="#185669" rel="185669">주방용품</a></li>
    <li><a href="#115673" rel="115673">생활용품</a></li>
    <li><a href="#184555" rel="184555">홈인테리어</a></li>
    <li><a href="#178255" rel="178255">가전디지털</a></li>
    <li><a href="#317778" rel="317778">스포츠/레저</a></li>
    <li><a href="#184060" rel="184060">자동차용품</a></li>
    <li><a href="#317777" rel="317777">도서/음반/DVD</a></li>
    <li><a href="#317779" rel="317779">완구/취미</a></li>
    <li><a href="#177295" rel="177295">문구/오피스</a></li>
    <li><a href="#115674" rel="115674">반려동물용품</a></li>
    <li><a href="#305798" rel="305798">헬스/건강식품</a></li>
    <li><a href="#396463" rel="396463">국내여행</a></li>
    <li><a href="#396464" rel="396464">해외여행</a></li>
    <li><a href="#/np/campaigns/18530" rel="/np/campaigns/18530">로켓럭셔리</a></li>
    <li><a href="#/np/campaigns/3884" rel="/np/campaigns/3884">로켓설치</a></li>
    <li><a href="#/np/campaigns/20167" rel="/np/campaigns/20167">쿠팡 프리미엄</a></li>
    <li><a href="#/np/campaigns/2318" rel="/np/campaigns/2318">공간별 집꾸미기</a></li>
    <li><a href="#/np/campaigns/13570" rel="/np/campaigns/13570">헬스케어 전문관</a></li>
    <li><a href="#/np/campaigns/1440" rel="/np/campaigns/1440">쿠팡 Only</a></li>
    <li><a href="#433784" rel="433784">싱글라이프</a></li>
    <li><a href="#/np/campaigns/11354" rel="/np/campaigns/11354">악기전문관</a></li>
    <li><a href="#416130" rel="416130">결혼준비</a></li>
    <li><a href="#410273" rel="410273">아트/공예</a></li>
    <li><a href="#/np/campaigns/17593" rel="/np/campaigns/17593">미세먼지용품</a></li>
    <li><a href="#316168" rel="316168">홈카페</a></li>
    <li><a href="#383370" rel="383370">실버스토어</a></li>
    <li><a href="#/np/campaigns/17993" rel="/np/campaigns/17993">로켓펫닥터</a></li>
</ul>